[run]
source = aptos
omit =
    aptos/tests/*
    aptos/test_*.py
    aptos/tests.py
    aptos/management/*
    aptos/admin.py
    aptos/services/*
    aptos/tasks.py
    aptos/middleware.py
    aptos/file_validators.py
    aptos/utils.py
    aptos/views.py
    aptos/decorators.py
    aptos/validators.py
    aptos/managers.py
    */migrations/*

[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.
    raise NotImplementedError
    @abstractmethod
