<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/static/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#1f2937" />
    <link rel="manifest" href="/static/manifest.webmanifest" />
    <title>Seu Aluguel Fácil</title>
    <script type="module" crossorigin src="/static/assets/index-BB-KHWrj.js"></script>
    <link rel="modulepreload" crossorigin href="/static/assets/vendor-gH-7aFTg.js">
    <link rel="modulepreload" crossorigin href="/static/assets/router-CjATaCeV.js">
    <link rel="stylesheet" crossorigin href="/static/assets/index-BdWiGEPn.css">
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
